<div class="task-description">
  <h3>Overview</h3>

  <p>
    While all groups are required to produce a poster for the poster fair,
    groups may also present demos at their assigned space.
    Submit a poster fair demo form if you need extra resources to support
    a demo, such as electricity, wireless or wired network access, or access
    to specific hardware or software.
  </p>

  <p>
    Please submit this form as early as possible: resources will be
    allocated in the order forms are received. Forms submitted on the day
    of the poster fair will not be processed!
  </p>
</div>
