<div class="task-description">
  <h3>Overview</h3>

  <p>
    The final report is the end product of your project,
    and the biggest part of your final grade.
    You should put in a lot of time and effort into it throughout the project.
    Your supervisor(s) and a second reader will read the report, and will
    present the department with the recommendations for your final grade.
  </p>

  <p>
    You must submit a typed and bound copy of your final report for each
    supervisor, plus an extra copy for the second reader.
    <strong>Late reports will not be accepted.</strong>
    The supervisor(s)'s copy(ies) will be retained by the department.
    After grading, the second reader's copy may be picked up from the
    Department office of Systems and Computer Engineering in 4456ME.
  </p>

  <h3>Writing Guidelines</h3>

  A progress report should be two to three pages in length, and contain:

  <ol>
    <li>
      General guidelines and an example of the required title page can be
      found
      <a href="http://www.sce.carleton.ca/courses/sysc-4907/GuideToWritingReports.pdf">here</a>.
      Keep in mind the following:
      <ul>
        <li>
          All reports will be bound with the same official cover page so it
          is vital that you have the proper format of your first page.
        </li>
        <li>
          The covers and binding rings are provided by the department. They
          are available for pickup in the last weeks of the term.
        </li>
        <li>
          Use of the binding machine is organized with a signup-sheet in the
          Systems office during mid-March. Be sure to sign up early to avoid
          being disappointed.
        </li>
      </ul>
    </li>
    <li>
      As discussed in the above document, Chapter 1 should introduce the
      problem and conclude with an overview of the rest of the report.
      Additionally,
      <strong>all reports must contain a standard Chapter 2</strong> &ndash;
      an example is available
      <a href="http://www.sce.carleton.ca/courses/sysc-4907/Chapter2.html">here</a>
      The content of each sub-section of Chapter 2 will depend on your project.
      For example, health and safety considerations should be discussed in
      depth for healthcare-related projects, but may be less important for a
      web-based game. <strong>Ask your supervisor for help.</strong>
    </li>
    <li>
      Beyond Chapter 2, there will be great variety in the chapter-by-chapter
      content of reports.
      <strong>Consult your supervisor for help</strong> and remember that the
      objective of the project is to demonstrate your engineering
      professionalism.
      All engineering shares the tasks of requirements, design, implementation
      and testing.
    </li>
    <li>
      <p>
        You can find LaTeX style files for this format
        <a href="http://www.sce.carleton.ca/courses/sysc-4907/4thProjectLatexTemplate">here</a>.
      </p>
      <p>
        Alternately, if you're preparing your report another way, you should
        keep the following formatting tips in mind:
      </p>
      <ul>
        <li>
          The same font must be used throughout the entire document, with
          exceptions for code, tables, and other illustrative examples. Any
          standard and simple font of size 12 is recommended.
        </li>
        <li>
          The text should be double spaced, with variable spacing in tables
          and figures permitted. Footnotes and long quotations may be single
          spaced.
        <li>
          Use bold type and italics instead of underlining for headings.
        </li>
        <li>
          The report is to be printed on an 8 1/2" x 11" page.
          The left margin should be 1 1/2"; you want to ensure that the
          binding does not interfere with the text.
          All other margins should be one full inch.
        </li>
        <li>
          All pages must be numbered in sequence.
        </li>
      </ul>
    </li>
  </ol>
</div>
