<div>
  <label>Deadline:</label>
  <%= render_datetime taskable.task.deadline.timestamp %>
</div>
<div>
  <label>Current Submission:</label>
  <% if @last_submission_event.present? %>
    <a href="<%= @last_submission_event.attachment.url %>">
      <%= @last_submission_event.attachment.original_filename %>
    </a>
  <% else %>
    None yet
  <% end %>
</div>
