<% content_for :banner do %>
  Your Tasks
<% end %>

<h2>Pending Tasks</h2>

<p>
  The following table lists tasks and deliverables that your project team has
  not yet completed.
</p>

<%= render partial: 'tasks/table', locals: {
      tasks: @pending_tasks,
      empty_message: 'Congratulations! You do not have any pending tasks.',
    } %>

<h2>Completed Tasks</h2>

<p>
  The following table lists tasks and deliverables that your project team
  has completed.
  You may or may not be able to take further actions on these tasks,
  depending on the task type.
</p>

<table class="table table-hover table-condensed tasks-table">
  <tbody>
    <% @completed_tasks.each do |task| %>
    <tr>
      <td class="tasks-table-summary">
        <%= link_to task.summary, task %>
      </td>
      <td class="tasks-table-timestamp">
        <%= render_datetime task.completed_at %>
        <% if task.late? %>
          <span class="label label-warning">late</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  <thead>
    <tr>
      <th class="tasks-table-summary">Task</th>
      <th class="tasks-table-timestamp">Completed</th>
    </tr>
  </thead>
  <% if @completed_tasks.empty? %>
  <tfoot>
    <tr>
      <td class="table-empty-message" colspan="2">
        You have not completed any tasks yet.
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
