<div class="task-description">
  <h3>Overview</h3>

  <p>
    You are required to submit an oral report scheduling form to indicate
    the times that all of your group members and supervisors will be available
    to present.
    You are considered available anytime that you are not in a lab or class
    &ndash; schedules that are too restrictive will be manually verified by
    the project coordinator!
    If you do not submit an oral report scheduling form, your group will be
    scheduled as if you had submitted a form with all timeslots marked as
    available.
  </p>

  <h3>Guidelines for Completing the Form</h3>

  <ol>
    <li>
      If nobody in your group has filled out the form yet, the form with
      all of the timeslots in which you are available.
    </li>
    <li>
      Otherwise, if the form has already been filled out, you can either
      <p>
        (a) Indicate that the form as filled out is acceptable by hitting the
        'Accept Timetable' button in the Accept tab.
      </p>
      <p>
        (b) Revise the form and resubmit it. Any group members or supervisors
        who have previously accepted the form will be need to review and
        accept your changes.
      </p>
    </li>
    <li>
      When all of the group members and supervisors participating in the project
      have accepted the timetable, then the oral presentation form is marked
      as accepted. If necessary, the form can be resubmitted after it has been
      marked as accepted.
    </li>
  </ol>
</div>
