<div class="task-description">
  <h3>Overview</h3>

  <p>
    As part of your project, you are required to give an oral presentation.
    The oral presentation will contribute to your final mark.
  </p>

  <h3>Time Allocated for Presentations</h3>

  <p>
    Each group member will be given fifteen minutes to present, broken down
    as follows:

    <ul>
      <li>2 minutes to prepare and set up;</li>
      <li>10 minutes to present; and</li>
      <li>3 minutes to answer questions</li>
    </ul>

    How you use your time is up to your group and your supervisor. You might
    have each member of your group present in turn, or you might pool your
    time into one longer presentation. If you do decide to pool your time,
    make sure that all members contribute equally to the presentation.
  </p>

  <h3>Advice for Preparing Presentations</h3>

  <ul>
    <li>
      Though you should be well-dressed, though a full suit isn't necessary.
      You should consider wearing at least a dress shirt and pants.
    </li>
    <li>
      Present your information in a logical, structured way. Start off by
      introducing yourself and your project, and then explain the motivation
      and any background information needed to understand the project.
      Continue with a discussion of the problem you are solving, the
      structure of your solution, plus on-going and future work. Finally,
      conclude with a summary of the key points from your presentation.
    </li>
    <li>
      Keep the desires of your audience in mind. What are they looking to take
      away from your presentation? Build your presentation around the key points
      that you want to drive home.
    </li>
    <li>
      Remember that your audience are not experts on your project, though they
      may be experts on the technical subject matter. Simplify and reinforce
      your message to make sure that you get your key points across.
    </li>
    <li>
      Practice and refine your presentation. Check your slides and your script
      for precision and clarity, and practice your presentation several times.
      Try practicing your presentation in front of others to get their feedback.
    </li>
  </ul>
</div>
