<div>
  <div>
    <label>Date:</label>
    <%= taskable.date.strftime('%A, %e %B %Y') %>
  </div>
  <div>
    <label>Venue:</label>
    <%= taskable.venue %>
  </div>
  <div>
    <label>Timeslot:</label>
    <span>
      <%= taskable.start.strftime('%l:%M %p') %>
      &ndash;
      <%= taskable.finish.strftime('%l:%M %p') %>
    </span>
  </div>
</div>
