<% content_for :banner do %>
  Administration
<% end %>

<div class="list-group">
  <a href="<%= deadlines_path %>" class="list-group-item">
    <h4>Manage Deadlines</h4>
    Schedule project deadlines for the current academic year.
  </a>
  <a href="<%= supervisors_path %>" class="list-group-item">
    <h4>Manage Supervisors</h4>
    Create, view, and remove supervisor accounts.
  </a>
  <a href="<%= scheduling_request_path %>" class="list-group-item">
    <h4>Schedule Oral Presentations</h4>
    Automatically schedule oral presentations according to submitted oral
    presentation forms.
  </a>
  <%= link_to coordinators_start_new_year_path, method: :post,
      class: 'list-group-item',
      data: { confirm: 'This will delete ALL group member accounts and current projects. Are you sure you wish to proceed?'
            } do %>
    <h4>Start New Year</h4>
    Prepare the system to for another year of projects by deleting
    all group member accounts and projects, then updating supervisor
    accounts and deadlines.
  <% end %>
</div>
