<%= render "supervisors/index", locals: {supervisors: @supervisors, redirect: @redirect} %>

<ul class="pager">
  <li class="previous">
    <%= link_to coordinators_path do %>&larr; Back<% end %>
  </li>
  <li class="next">
    <%= link_to coordinators_set_deadlines_path do %>Next &rarr;<% end %>
  </li>
</ul>
