<%= render "deadlines/index", locals: {deadlines: @deadlines, redirect: @redirect} %>

<ul class="pager">
  <li class="previous">
    <%= link_to coordinators_select_supervisors_path do %>&larr; Back <% end %>
  </li>
  <li class="next">
    <%= link_to 'Finish', coordinators_path %>
  </li>
</ul>
