<div class="task-posting row">
  <div class="col-md-2">
    <span><%= render_datetime log_event.created_at %></span>
  </div>
  <div class="col-md-8">
    <%= render partial: log_event.details, locals: {event: log_event} %>
  </div>
</div>
