<div class="task-description">
  <h3>Overview</h3>

  A progress report must be submitted to your supervisor before the last day
  of lectures in the fall term.  The report must make reference to your
  proposal, show clearly how much progress has been made, make a prediction
  as to how the rest of the project is likely to develop, and state any
  variation from the project proposal that now seems necessary.

  <h3>Writing Guidelines</h3>

  A progress report should be two to three pages in length, and contain:
  <ol>
    <li>
      A summary, recapping the purpose of the project, along with achievements
      and some comment on current and future work.
    </li>
    <li>
      A project introduction, which:
      <ul>
        <li>provides a brief background on the project</li>
        <li>identifies the document (it is a progress report)</li>
        <li>states the project objectives</li>
        <li>indicates the time period covered</li>
        <li>introduces the team and responsibilities</li>
        <li>provides an overview of format of the rest of the report</li>
      </ul>
    </li>
    <li>
      A summary of progress on the project, specifically work that has been
      completed and work that is not yet complete. It may be broken down
      chronologically according to when work was completed, by task status,
      or some combination thereof. Chronological reports work well for simple
      projects, while task-oriented reports are useful if there are many tasks
      being completed independently.
    </li>
    <li>
      A conclusion that restates the project's purpose and summarizes problems
      encountered, along with changes in scope and schedule. Finally, include
      an overall assessment of the project: is the project going well, or is
      it not going as expected?
    </li>
  </ol>
</div>
