<div class="task-description">
  <h3>Overview</h3>

  <p>
    The proposal should introduce the project that you will undertake.
    Remember that every project is trying to build an engineering solution
    to a problem.
    The proposal should be understandable by a person not familiar with the
    project, eg. the project coordinator.
    The proposal should describe the problem and the plan to implement a
    solution.
  </p>
  <p>
    As with all deliverables, the proposal must use formal and professional
    language.
    Discuss the facilities that you need with your supervisor to ensure they are
    available.
  </p>

  <h3>Writing Guidelines</h3>

  A typical proposal is 3-4 pages in length, and contains:
  <ol>
    <li>
      The title of the project, your name, your student number and your
      supervisor's name.
    </li>
    <li>A clear statement of the objectives of the project.</li>
    <li>A brief background of the project.</li>
    <li>A brief description of what you are going to do.</li>
    <li>
      A description of the method you will use to solve the problem.
      Don't specify precise tools and technologies unless asked to by your
      supervisor &ndash; your project will involve assessing and selecting
      alternatives!
    </li>
    <li>
      A proposed timetable for the project including major milestones.
      Identify milestones that pertain to <string>your project's</strong>
      development, not just deadlines on the course web page.
    </li>
    <li>A list of special components and facilities that you require.</li>
  </ol>
</div>
