<p>
  Hit the 'Accept Timetable' button to indicate that you are available
  during all of the timeslots marked in blue. Otherwise, visit the
  'Submit' tab to amend the timetable.
</p>

<div class="half-spacer"></div>

<div class="available-widget disabled">
  <div class="available-parent"></div>

  <div class="half-spacer"></div>

  <%= form_tag controller: controller_name, action: 'accept',
               method: 'post' do %>
    <%= hidden_field_tag :accept_available_times, taskable.available_times,
                         class: 'available-field' %>
    <%= submit_tag 'Accept Timetable', class: 'btn btn-primary pull-right' %>
  <% end %>
</div>
