<script>$(OralPresentationForm.renderAcceptForm);</script>

<p>
  Hit the 'Accept Timetable' button to indicate that you are available
  during all of the timeslots marked in blue. Otherwise, visit the
  'Submit' tab to amend the timetable.
</p>

<div class="half-spacer"></div>

<div id="accept-oral-form"></div>

<div class="half-spacer"></div>

<%= form_tag controller: controller_name, action: 'accept',
             method: 'post' do %>
  <%= hidden_field_tag(:accept_available_times, taskable.available_times) %>
  <%= submit_tag 'Accept Timetable', class: 'btn btn-primary pull-right' %>
<% end %>
