<script>$(OralPresentationForm.renderSubmitForm);</script>

<p>
  Fill in the timetable by clicking or dragging to mark when you
  are available. To mark one or more cells as unavailable, click on or
  drag from a cell you have marked.
</p>

<div class="half-spacer"></div>

<div id="submit-oral-form"></div>

<div class="half-spacer"></div>

<%= form_tag controller: controller_name, action: 'submit',
             method: 'post' do %>
  <%= hidden_field_tag(:submit_available_times, taskable.available_times) %>
  <%= submit_tag 'Submit Timetable', class: 'btn btn-primary pull-right' %>
<% end %>
