<%= form_for [taskable.task, SubmissionEvent.new],
    html: {role: 'form'} do |f| %>
  <div class="form-group">
    <label>New Submission:</label>
    <%= f.file_field :attachment, class: 'inline' %>
  </div>
  <div class="form-group">
    <%= f.text_area :comment, class: 'form-control',
        placeholder: 'Add comments to submission' %>
  </div>
  <div class="form-group text-right">
    <%= f.submit "Submit", class: 'btn btn-success' %>
  </div>
<% end %>
