#project_description {
  height: 200px;
}

.project-programme-labels {
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px;

  strong {
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
  }
}
