.task-actions {
  input[type="file"] {
    display: inline;
  }
}

.task-posting .task-posting-comment {
  font-style: italic;
}

.tasks-table-timestamp {
  width: 30%;
}

.table-empty-message {
  text-align: center;
}

.action-tab {
  margin: 10px 5px 0;
}
